<div
  class="card"
  *ngIf="isVisible"
  [@show]="{
    value: 'void => *',
    params: {
      randomDegShow: randomDegShow,
      randomDegRemove: randomDegRemove,
      randomXShow: randomXShow,
      randomXRemove: randomXRemove,
      randomYShow: randomYShow,
      randomYRemove: randomYRemove
      }
    }"
>
  <div
    class="card__wrapper"
    *ngIf="!isEdit else editBookForm"
    (click)="showDetails()"
    [routerLink]="['/book', book.id]"
  >
    <div class="card__header">
      <h3 *ngIf="!isEdit">{{book.name}}</h3>
      <p *ngIf="!isEdit" class="card__year">{{
        book.year < 0 ?
          -book.year + ' г до н.э.' :
          book.year + ' г'
        }}</p>
    </div>
    <div class="card__info">
      <p class="card__author">{{book.author}}</p>
      <div class="card__description">{{book.description}}</div>
    </div>
    <div class="card__genres">
      <span class="card__genre" *ngFor="let genre of book.genres; index as i">{{genre.value}}</span>
    </div>
    <div
      *showAuthed="true"
      class="card__buttons"
    >
      <button
        stop-propagation-directive
        class="card__button card__button_delete"
        (click)="removeBook()"
      >Удалить
      </button>
      <button
        stop-propagation-directive
        class="card__button"
        (click)="isEdit = !isEdit"
      >
        Редактировать
      </button>
    </div>
  </div>
  <ng-template #editBookForm>
    <form class="edit-book-form" [formGroup]="form" (ngSubmit)="editBook()">
      <div class="form-control">
        <input
          type="text"
          formControlName="name"
          [ngModel]="book.name"
        >
        <div class="validation"></div>
      </div>

      <div class="form-control">
        <input
          type="text"
          formControlName="author"
          [ngModel]="book.author"
        >
        <div class="validation"></div>
      </div>

      <div class="form-control">
        <ng-select
          [ngModel]="selectedGenres"
          formControlName="genres"
          [multiple]="true"
          [maxSelectedItems]=3
          class="addBook-form__select"
        >
          <ng-option
            *ngFor="let genre of genres"
            value="{{genre.id}}"
            class="addBook-form__option"
          >
            {{genre.value}}
          </ng-option>
        </ng-select>
        <div class="validation"></div>
      </div>

      <div class="form-control">
        <input
          type="number"
          formControlName="year"
          [ngModel]="book.year"
        >
        <div class="validation"></div>
      </div>

      <div class="form-control">
        <textarea
          formControlName="description"
          [ngModel]="book.description"
        ></textarea>
        <div class="validation"></div>
      </div>

      <div class="card__buttons">
        <button class="card__button" type="button" (click)="isEdit = !isEdit">Отмена</button>
        <button class="card__button" type="submit" [disabled]="form.invalid">Применить</button>
      </div>
    </form>
  </ng-template>
  <div class="card__error" *showAuthed="false">
    <p *ngIf="authError">Для перехода на страницу описания необходимо авторизоваться!</p>
  </div>
</div>
