@import "../../../../../scss/variables";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px dotted $bg-color-dark;
  height: 100%;

  &__header {
    display: flex;
    background-color: $bg-color;
    padding: 0.4rem 0.6rem;
    justify-content: space-between;
  }

  &__wrapper {
    cursor: pointer;
  }

  &__year {
    font-style: italic;
  }

  &__info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem;
    height: 8rem;
    flex-grow: 1;
  }

  &__author {
    font-size: 1.1rem;
  }

  &__description {
    font-style: italic;
    overflow-y: hidden;
    max-height: 6.4rem;
    position: relative;

    &:hover {
      top: calc(5.8rem + 2px);
      position: absolute;
      max-height: initial;
      background-color: white;
      width: calc(100% - 2rem);
      z-index: 2;

      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      display: block;
      height: 2rem;
      position: absolute;
      width: 100%;
      top: 4rem;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
    }
  }

  &__genres {
    display: flex;
    gap: 0.4rem;
    margin: 1rem;
  }

  &__genre {
    font-size: 0.8rem;
    font-style: italic;
    background-color: $bg-color-light;
    border: 1px solid $bg-color-dark;
    border-radius: 6px;
    padding: 0.1em 1em;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    flex-wrap: wrap;
  }

  &__error {
    padding: 1rem;
    color: red;
  }

  &__button {
    font-size: 1rem;
    color: $bg-color-dark;
    font-style: italic;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed transparent;
    cursor: pointer;
    flex-basis: auto;

    &:disabled {
      cursor: not-allowed;
      color: lightgray;
    }

    &:hover {
      border-bottom: 1px dashed $bg-color-dark;
    }
  }
}

.edit-book-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.4rem 0.6rem;

  input,
  textarea {
    width: 100%;
    resize: vertical;
    transition: none;
    overflow-y: hidden;
    height: max-content;
  }

  textarea {
    height: 7rem;
  }
}
