<button
  class="button search-book-form__show-button"
  (click)="showForm()"
>
  Искать книгу
</button>

<form
  *ngIf="isFormVisible"
  class="search-book-form"
  [formGroup]="form"
  (ngSubmit)="booksService.setFilterParams(form.value)"
>

  <div class="form-control">
    <label>
      Автор
      <input
        type="text"
        formControlName="author"
      >
    </label>
  </div>

  <div class="form-control">
    <label for="ng-select">Жанр</label>
    <ng-select
      id="ng-select"
      formControlName="genreIds"
      [multiple]="true"
      [maxSelectedItems]=3
      class="addBook-form__select"
    >
      <ng-option
        *ngFor="let genre of genresQuery.genres$ | async"
        value="{{genre.id}}"
        class="addBook-form__option"
      >
        {{genre.value}}
      </ng-option>
    </ng-select>

    <div class="validation"></div>
  </div>

  <div class="form-control">
    <label>
      Год от
      <input
        type="number"
        formControlName="yearFrom"
      >
    </label>
  </div>

  <div class="form-control">
    <label>
      Год до
      <input
        type="number"
        formControlName="yearTo"
      >
    </label>
  </div>

  <div class="form-control">
    <label>Название или описание</label>
    <textarea
      formControlName="text"
    ></textarea>
    <div class="validation"></div>
  </div>

  <button class="button" type="submit">Искать</button>
</form>
