@import '../../../scss/variables';

.book-detail {
  margin: 0 auto;
  padding: 1rem;
  border: 1px dotted $bg-color-dark;

  &__wrapper {
    display: grid;
    gap: 1rem;
  }

  &__title {
    text-align: center;
    text-decoration: underline;
  }

  &__field {
    font-style: italic;
    &-name {
      padding: 0.2rem 0.3rem;
      background-color: $bg-color-light;
      font-style: normal;
    }
  }

  &__link {
    display: block;
    text-align: center;
    line-height: 3rem;
    width: 100%;

  }
}
