@import "src/scss/variables";

.addBook-form {
  h1 {
    text-align: center;
    background-color: $bg-color-dark;
    padding: 0.4rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
    gap: 0.2rem;

    & > label {
      text-align: end;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    textarea {
      resize: vertical;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
    }

    input,
    select,
    textarea {
      padding: 0.2rem 0.4rem;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;

      &::placeholder {
        color: darkgray;
      }
    }

    input,
    select {
      height: 1.5rem;
    }
  }
}
