<form class="add-book-form" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Добавить книгу</h1>

  <div class="form-control">
    <label>
      Название книги
    <input
      type="text"
      formControlName="name"
    >
    </label>
    <div class="validation"></div>
  </div>

  <div class="form-control">
    <label>
      Автор
    <input
      type="text"
      formControlName="author"
    >
    </label>
    <div class="validation"></div>
  </div>

  <div class="form-control">
    <label for="ng-select">Жанр</label>
    <ng-select
      id="ng-select"
      formControlName="genres"
      [multiple]="true"
      [maxSelectedItems]=3
      class="addBook-form__select"
    >
      <ng-option
        *ngFor="let genre of genres"
        value="{{genre.value}}"
        class="addBook-form__option"
      >
        {{genre.id}}
      </ng-option>
    </ng-select>

    <div class="validation"></div>
  </div>

  <div class="form-control">
    <label>
      Год
    <input
      type="number"
      formControlName="year"
    >
    </label>
    <div class="validation"></div>
  </div>

  <div class="form-control">
    <label>Описание</label>
    <textarea
      formControlName="description"
    ></textarea>
    <div class="validation"></div>
  </div>

  <button class="button" type="submit" [disabled]="form.invalid">Добавить</button>

</form>
