@import "../../../../../scss/variables";

.add-book-form {
  display: grid;
  margin-bottom: 1rem;

  h1 {
    text-align: center;
    background-color: $bg-color;
    padding: 0.4rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }

  &__show-button {
    height: 3rem;
    width: 100%;
    border: 0.2rem solid $bg-color-dark;
    background-color: white;
    margin-bottom: 1rem;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
    gap: 0.2rem;

    & > label {
      display: flex;
      flex-direction: column;
      text-align: end;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    textarea {
      resize: vertical;
      transition: none;
    }

    input{
      height: 1.5rem;
    }
  }

  .button {
    float: right;
  }
}
