@font-face {
  font-family: Noto-Bold;
  src: url("./../assets/fonts/NotoSans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Noto-BoldItalic;
  src: url("./../assets/fonts/NotoSans-BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: Noto-Regular;
  src: url("./../assets/fonts/NotoSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Noto-Italic;
  src: url("./../assets/fonts/NotoSans-Italic.ttf") format("opentype");
}
